h1 {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-top: 50px;
}

div.index-container {
    margin-top: 30px;
    max-width: 80%;
    display: flex;
    justify-content: space-evenly;
}

body {
    margin: 0;
    background-color: #17182f;
    overflow: scroll;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

/* left */

.left {
    margin: 20px;
}

.featured-news {
    background-color: #fff;
    width: 900px;
    position: relative;
    margin: auto;
    border-radius: 5px;
}

.featured-news>h2 {
    text-align: center;
    padding-top: 15px;
}

#featured-text {
    text-align: justify;
    margin: 30px;
    padding-bottom: 20px;
}

#featured-image {
    transform: scale(0.83);
    float: left;
    margin-bottom: 10px;
    border: 2px solid black;
}


figcaption {
    color: #fff;
    position: relative;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
}

#apod-img {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: auto;
    margin-bottom: 20px;
    width: 800px;
    border: 2px solid #fff;
}

/* right */

.right {
    margin: 20px;
}

.card {
    position: relative;
    width: 400px;
    margin: auto;
}

td,
th {
    color: #fff;
    padding: 5px;
}

table,
tr,
td,
th {
    border: 2px solid white;
    text-align: center;
}

th {
    padding: inherit 5px;
}

table {
    margin: auto;
}

.mars-api-data {
    position: relative;
}

caption {
    caption-side: top;
    text-align: center;
    color: #fff;
    font-size: 24px;
    text-decoration: underline;
}