{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title_block %}{% endblock %}</title>
        <meta name="description" content="This is the star social.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% comment %} <-- custom libraries --> {% endcomment %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{% static 'css/master.css' %}">

        {% block styles %}
        {% endblock styles %}
    </head>
    <body>

        <nav class='navbar navbar-expand-lg navbar-dark bg-dark mynav' role='navigation' id='navbar'>
            <div class="container">
                <a class='navbar-brand mynav' href="{% url 'home' %}">Star Social</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                            <li class='nav-item'><a class="nav-link" href="{% url 'posts:create' %}">Post</a></li>
                            <li class='nav-item'><a class="nav-link" href="{% url 'groups:all' %}">Groups</a></li>
                            <li class='nav-item'><a class="nav-link" href="{% url 'groups:create' %}">Create Group</a></li>
                            <li class='nav-item'><a class="nav-link" href="{% url 'accounts:logout' %}">Log Out</a></li>
                        {% else %}
                            <li class='nav-item'><a class="nav-link" href="{% url 'groups:all' %}">Groups</a></li>
                            <li class='nav-item'><a class="nav-link" href="{% url 'accounts:login' %}">Login</a></li>
                            <li class='nav-item'><a class="nav-link" href="{% url 'accounts:signup' %}">Sign Up</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
        <div id="particles-js"></div>
    </body>
</html>