{% extends 'posts/post_base.html' %}

{% block title_block %}
    Posts
{% endblock %}

{% block prepost %}
    <div class="col-md-4">
        {% if user.is_authenticated %}
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title">Your Groups</h4>
                    <div class="card-text">
                        <ul class="list-group list-group-flush">
                            {% for member_group in user_groups %}
                                <li class="list-group-item"><a href="{% url 'groups:single' slug=member_group.slug %}">{{member_group}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title">All Groups</h4>
                    <div class="card-text">
                        <ul class="list-group list-group-flush">
                            {% for other_group in other_groups %}
                                <li class="list-group-item"><a href="{% url 'groups:single' slug=other_group.slug %}">{{other_group}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block post_content %}
    <div class="col-md-8">
        {% for post in post_list %}
            {% include 'posts/_post.html' %}
        {% endfor %}
    </div>

{% endblock %}