{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'posts/css/posts_master.css' %}">
{% endblock styles %}

{% block content %}
<div class="posts-page">
    <div class="container posts-container">
        <div class="row">
            {% block prepost %}
            {% endblock %}
            {% block post_content %}
            {% endblock %}
            {% block post_post %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}